// blue color
$white: #ffffff;
$light-blue: #e3f2fd;
$medium-blue: #90caf9;
$dark-blue: #42a5f5;
$darker-blue: #4e79e9;


//theme colors
$blue-light: #5dade2;
$blue-lighter: #85c1e9;
$green-light: #76d7c4;
$green-darker: #45b39d;
$green-darker-2: #58d68d;
$yellow-light: #f7dc6f;
$yellow-darker: #f8c471;
$red-light: #f1948a;