<div class="container">
  <div class="row">
    <div class="col-12 p-0">
      <span class="mt-2 f16">{{ "myBorrowHistory" | translate }}</span>
      <div class="d-flex justify-content-between">
        <form class="d-flex" [formGroup]="searchHistory">
          <div class="input-group me-5">
            <input
              (input)="searchGet($event)"
              class="form-control width-input rounded"
              id="search"
              type="search"
              [attr.placeholder]="'search' | translate"
              aria-label="Search"
              formControlName="search"
            />
            <div class="input-group-append me-4">
              <span class="input-group-text"
                ><i class="fa-solid fa-magnifying-glass fcolor"></i
              ></span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card m-0 p-0 mt-3 bg-container">
      <div class="card-body p-4">
        <table class="table table-striped overflow-hidden rounded p-0 m-0">
          <thead>
            <tr style="height: 55px">
              <th
                scope="col"
                class="text-center align-middle tbc"
                style="width: 5%"
              >
                <i
                  [ngClass]="{
                    'fa-arrow-up-wide-short': !Sort,
                    'fa-arrow-down-short-wide': Sort
                  }"
                  class="fa-solid"
                  (click)="toggleSort()"
                  style="cursor: pointer"
                ></i>
              </th>
              <th
                scope="col"
                class="text-center align-middle tbc"
                style="width: 10%"
              >
                {{ "borrowCode" | translate }}
              </th>
              <th scope="col" class="align-middle tbc" style="width: 12%">
                {{ "borrowerName" | translate }}
              </th>
              <th scope="col" class="align-middle tbc" style="width: 22%">
                {{ "nameBook" | translate }}
              </th>
              <th scope="col" class="align-middle tbc" style="width: 9%">
                {{ "borrowingDate" | translate }}
              </th>
              <th scope="col" class="align-middle tbc" style="width: 9%">
                {{ "returnDate" | translate }}
              </th>
              <th
                scope="col"
                class="text-center align-middle tbc"
                style="width: 6%"
              >
                {{ "totalBorrowedDays" | translate }}
              </th>
              <th
                scope="col"
                class="text-center align-middle tbc"
                style="width: 17%"
              >
                {{ "borrowEndDate" | translate }}
              </th>
              <th
                scope="col"
                class="text-center align-middle tbc"
                style="width: 2%"
              >
                {{ "statusName" | translate }}
              </th>
              <th
                scope="col"
                class="text-center align-middle tbc"
                style="width: 8%"
              ></th>
              <!-- <th scope="col" class="text-center">เลือก</th> -->
            </tr>
          </thead>
          <tbody *ngIf="loadingTable" class="text-center">
            <tr>
              <td colspan="12" class="position-relative">
                <app-spinner></app-spinner>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="!loadingTable">
            <tr
              *ngFor="
                let History of dataHistory
                  | paginate
                    : {
                        id: 'user-data',
                        currentPage: page,
                        itemsPerPage: size,
                        totalItems: totalElements
                      };
                let i = index
              "
            >
              <td id="id" scope="row" class="fw-bold text-center align-middle">
                {{ (page - 1) * size + i + 1 }}
              </td>
              <td class="align-middle text-center">
                {{ History.borrowCode }}
              </td>
              <td class="align-middle">
                {{ History.firstName }} {{ History.lastName }}
              </td>
              <td class="align-middle">
                {{
                  getLanguages === "en"
                    ? History.bookNameEn
                    : History.bookNameTh
                }}
              </td>
              <td class="align-middle">
                {{
                  formatDateService.forDate(
                    History.borrowStart,
                    "MIN",
                    "NO-TIME",
                    getLanguages
                  )
                }}
              </td>
              <td class="align-middle">
                {{
                  formatDateService.forDate(
                    History.borrowEnd,
                    "MIN",
                    "NO-TIME",
                    getLanguages
                  )
                }}
              </td>
              <td class="text-center align-middle">{{ History.borrowDays }}</td>
              <td class="text-center align-middle">
                <!-- {{
                  formatDateService.forDate(
                    History.returnDate,
                    "MIN",
                    "TIME",
                    getLanguages
                  )
                }} -->
                {{
                  History.returnDate
                    ? formatDateService.forDate(
                        History.returnDate,
                        "MIN",
                        "TIME",
                        getLanguages
                      )
                    : "-"
                }}
              </td>
              <td class="align-middle text-center">
                <div class="d-flex justify-content-center">
                  <div
                    class="status-icon-center"
                    [style.background-color]="
                      History.borrowStatus === 0 ? '#5ddd1d' : '#FF3333'
                    "
                  >
                    <span
                      class="status-icon-border"
                      [style.background-color]="
                        History.borrowStatus === 0 ? '#5ddd1d' : '#FF3333'
                      "
                    ></span>
                  </div>
                </div>
              </td>
              <td class="align-middle text-center">
                <app-button
                  *ngIf="History?.borrowStatus === 0"
                  data-bs-toggle="modal"
                  data-bs-target="#modalimage"
                  icon="fa-solid fa-eye"
                  color="details"
                  (click)="openImageModal(History?.id)"
                >
                  >
                </app-button>

                <app-button
                  *ngIf="History?.borrowStatus === 1"
                  icon="fa-solid fa-eye"
                  color="disabled"
                  [disabled]="true"
                  (click)="openImageModal(History?.id)"
                >
                  >
                </app-button>
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr *ngIf="!loadingTable && dataHistory.length === 0">
              <td
                colspan="12"
                style="text-align: center; font-size: 16px; color: #808080"
              >
                <p style="padding-top: 20px">
                  <app-not-found></app-not-found>
                </p>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="table m-0">
          <tr
            *ngFor="let _ of [].constructor(10 - dataHistory.length)"
            style="height: 53px"
          >
            <td></td>
          </tr>
        </table>
        <div class="d-flex justify-content-center pt-4">
          <app-pagination
            [totalPages]="totalPages"
            [pageCurrent]="page"
            (pageChange)="onPageChange($event)"
          ></app-pagination>
        </div>
      </div>
    </div>

    <div class="modal fade" id="modalimage">
      <div
        class="modal-dialog modal-dialog-centered d-flex justify-content-center"
      >
        <div class="d-flex justify-content-center p-3">
          <img
            [src]="selectedImage"
            alt="Book Image"
            style="max-width: 100%; min-width: 380px; height: auto"
          />
        </div>
      </div>
    </div>
  </div>
</div>
