<main class="container mb-5">
  <!-- header content -->
  <div class="row px-3 px-lg-0">
    <div class="card-body">
      <div>
        <span class="mt-2 f16">{{ "searchUserList" | translate }}</span>
      </div>
      <div class="d-flex justify-content-between">
        <form class="d-flex">
          <div class="input-group">
            <input
              class="form-control rounded responsive-input"
              type="search"
              [attr.placeholder]="'search' | translate"
              [(ngModel)]="searching"
              (input)="onSearching()"
              name="search"
            />
            <span class="icon-search">
              <i class="fa-solid fa-magnifying-glass fcolor"></i>
            </span>
          </div>
        </form>
        <div>
          <app-button
            icon="fa-solid fa-plus"
            [text]="'addUsers' | translate"
            width="140px"
            color="styb1"
            data-bs-toggle="modal"
            data-bs-target="#modalProfileManage"
            (click)="AddUserStatus()"
          ></app-button>
        </div>
      </div>
    </div>
  </div>
  <!-- content -->
  <div class="row px-3 px-lg-0">
    <div
      class="card mt-3 bg-container p-0 m-0"
      style="box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2)"
    >
      <div class="card-body p-4">
        <div class="pb-4">
          <app-profile-table
            [profileTable]="profileTable"
            [loadingTable]="loadingTable"
            [statusSort]="statusSort"
            [nameSort]="nameSort"
            [pageCurrent]="pageCurrent"
            [pageSize]="pageSize"
            [totalElementsPage]="totalElementsPage"
            [searching]="searching"
            [historyDelete]="historyDelete"
            [Language]="getLanguages"
          />
        </div>
        <app-pagination
          [totalPages]="totalPages"
          [pageCurrent]="pageCurrent"
          (pageChange)="changePage($event)"
        />
      </div>
    </div>
  </div>
</main>

<!-- Modal -->
<app-profile-modal
  [userUserId]="userUserId"
  [userProfileManage]="userProfileManage"
/>
